<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@7.1.1/dist/handsontable.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/handsontable@7.1.1/dist/handsontable.full.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="/css/hand.boot.css" rel="stylesheet" media="screen">
    <link href="/css/index.css" rel="stylesheet" media="screen">
    <title>Home Page</title>
</head>
<body class="container">

<section id="top" class="row">
    <a href="createTable">Create Table</a>
    <a href="/tables">Tables</a>
    <a href="/users">Users</a>
</section>

<section id="middle" class="row">
    <select id="class" onchange="mainList()" class="col-md">
        <option th:each="table : ${tables}" th:value="${table}" th:text="${table}" ></option>
    </select>
    <select id="methods" class="col-md" onchange="loadData()">

    </select>
    <div id="retain" class="col-sm"></div>
</section>

<section id="data" class="row">
    <div id="excel"></div>
</section>

<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>