<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${table}"></title>
</head>
<body>
    <form action="#" th:action="@{'/table/'+${table}}" th:object="${classdata}" method="post">
        <input type="text" name="metaData" th:value="${metaData}">
        <input name="Submit" type="submit">
    </form>


    <form action="#" th:action="@{/deleteTable}" th:object="${classdata}" method="post">
        <input name="DELETE" type="submit">
    </form>
</body>
</html>