<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${table}"></title>
</head>
<body>
    <ul>
        <li th:each="table : ${tables}"><a th:href="@{/table/{table}(table=${table})}" th:text="${table}"></a></li>
    </ul>
</body>
</html>