<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Users</title>
</head>
<body>

    <ol>
        <li th:each="user : ${falseUsers}">
            <form action="#" th:action="@{/user/{id}(id=${user.id})}" th:object="${user}" method="post">
            <section>
                <div th:text="${user.username}"></div>
                <div th:text="${user.email}"></div>

                <select th:field="*{role}">
                    <option th:value="ADMIN">ADMIN</option>
                    <option th:value="USER" selected="selected">USER</option>
                </select>

                <input type="submit" value="Approve">
            </section>
        </form>
        </li>
    </ol>


</body>
</html>